.inline-block{
    border:0px;
    display: inline-block;
    margin:auto;
}
.menu-toggle{
    padding-left: 500px;
}

.modcaptcha{
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}